@import "tailwindcss";
@import "daisyui/daisyui.css";
html{
  scroll-behavior:smooth;
}





@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: transparent;
  --color-base-200: oklch(96% 0.067 122.328);
  --color-base-300: oklch(93% 0.127 124.321);
  --color-base-content: oklch(40% 0.101 131.063);
  --color-primary: oklch(68% 0.162 75.834);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(66% 0.179 58.318);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(64% 0.2 131.684);
  --color-neutral-content: oklch(98% 0.031 120.757);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}





body {

  background:
    radial-gradient(circle at 15% 20%, #dbe9c8 0%, transparent 35%),
    radial-gradient(circle at 85% 80%, #c7d9b4 0%, transparent 30%),
    linear-gradient(
      145deg,
      #fcfcfa,
      #f4f7ef,
      #e5ecdc,
      #d2ddc2
    );

  background-attachment: fixed;
}