@import "tailwindcss";
@import "daisyui/daisyui.css";
html{
  scroll-behavior:smooth;
}
@plugin "daisyui/theme" {
  name: "lemonade";
  default: false;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: transparent;
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(78% 0.128 64.400);
  --color-base-content: oklch(19.742% 0.004 123.72);

  --color-primary: oklch(60.6% 0.190 134.600);
  --color-primary-content: oklch(11.784% 0.039 134.6);

  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(15.55% 0.039 111.09);

  --color-accent: oklch(85.39% 0.201 100.73);
  --color-accent-content: oklch(17.078% 0.04 100.73);

  --color-neutral: oklch(47.4% 0.075 108.600);
  --color-neutral-content: oklch(86.196% 0.015 108.6);

  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 0rem;
}
body {
  background:
    radial-gradient(circle at 15% 20%, #dbe9c8 0%, transparent 35%),
    radial-gradient(circle at 85% 80%, #c7d9b4 0%, transparent 30%),
    linear-gradient(
      145deg,
      #fcfcfa,
      #f4f7ef,
      #e5ecdc,
      #d2ddc2
    );

  background-attachment: fixed;
}